<template>
  <LayoutComponent>
    <template #menu>
      <div
        v-for="(menuItem, index) in menuItems"
        :key="index"
        class="admin-menu__row"
      >
        <div class="admin-menu__col">
          <router-link
            :to="menuItem.path"
            class="admin-menu__item"
          >
            {{ menuItem.title }}
          </router-link>
        </div>
      </div>
    </template>
    <template #content>
      <router-view />
    </template>
  </LayoutComponent>
</template>

<script>
import LayoutComponent from '../../common/LayoutComponent.vue';

export default {
  name: 'AdminView',
  components: {
    LayoutComponent,
  },
  computed: {
    menuItems() {
      const rootRoute = this.$router.options.routes.filter((route) => route.path === '/admin')[0];

      const childRoutes = rootRoute.children.filter((childRoute) => !childRoute.name.includes('WithId'));

      return childRoutes.map((route) => ({ path: `/admin/${route.path}`, title: route.meta.title }));
    },
  },
};
</script>

<style scoped>
.admin-menu__row {
  display: flex;
  flex-direction: row;
  padding: 5px 0;
  width: 100%;
}

.admin-menu__col {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.admin-menu__item {
  display: block;
  flex-direction: row;
  justify-content: start;
  text-decoration: none;
  color: #0d5aa7;
  padding: 5px 10px;
  border-bottom: 1px solid gray;
}

.admin-menu__item.router-link-active {
  border-bottom: 1px solid lightgray;
  color: gray;
}

.admin-menu__item:hover {
  border-bottom: 1px solid lightgray;
  color: gray;
}
</style>
