<template>
  <RESTLayoutComponent
    :list="list"
    :pagination="pagination"
    @save="handleSave"
    @update="handleUpdate"
    @delete="handleDelete"
    @change-page="handleChangePage"
  />
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import RESTLayoutComponent from '../../common/RESTLayoutComponent.vue';

export default {
  name: 'NewsAdminView',
  components: {
    RESTLayoutComponent,
  },
  data() {
    return {
      page: 1,
      perPage: 5,
    };
  },
  computed: {
    ...mapGetters({
      list: 'adminNews/getList',
      pagination: 'adminNews/getPagination',
    }),
  },
  created() {
    this.refresh();
  },
  methods: {
    ...mapActions({
      refreshList: 'adminNews/refresh',
    }),
    async handleSave(entity) {
      entity.dateCr = new Date();
      entity.dateUp = new Date();
      await this.$api.rest.news.create(entity);

      await this.refresh();
    },
    async handleUpdate(entity) {
      entity.dateUp = new Date();
      await this.$api.rest.news.update({ id: entity.id, entity });

      await this.refresh();
    },
    async handleDelete(entity) {
      await this.$api.rest.news.delete(entity.id);

      await this.refresh();
    },
    async handleChangePage(page) {
      this.page = page;

      const { name, fullPath } = this.$route;

      let path = `${this.$route.fullPath}/${page}/`;
      if (name.includes('WithId')) {
        const parts = fullPath.split('/');
        parts.pop();
        parts.pop();
        parts.shift();
        parts.push(page);

        path = `/${parts.join('/')}/`;
      }

      if (path !== this.$route.fullPath) {
        await this.$router.push({ path });
      }

      await this.refresh();
    },
    async refresh() {
      await this.refreshList({
        api: this.$api.rest.news,
        params: {
          page: this.page,
          perPage: this.perPage,
        },
      });
    },
  },
};
</script>

<style scoped>

</style>
