<template>
  <LayoutComponent>
    <template #menu>
      <CategoryComponent
        v-for="(category, index) in categoryTree"
        :key="index"
        :category="category"
      />
    </template>
    <template #content>
      <router-view />
    </template>
  </LayoutComponent>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import LayoutComponent from '../common/LayoutComponent.vue';
import CategoryComponent from '../common/CategoryComponent.vue';

export default {
  name: 'ContentView',
  components: {
    CategoryComponent,
    LayoutComponent,
  },
  computed: {
    ...mapGetters({
      categoryTree: 'news/getTree',
      activeCategory: 'news/getActiveCategory',
    }),
  },
  watch: {
    activeCategory() {
      this.refreshNewsList(this.$api.custom);

      const location = `/news/${this.activeCategory.id}`;
      if (this.$route.path !== location) {
        this.$router.push(location);
      }
    },
  },
  created() {
    this.refreshTree(this.$api.custom);
  },
  methods: {
    ...mapActions({
      refreshTree: 'news/refreshTree',
      refreshNewsList: 'news/refreshNewsList',
    }),
  },
};
</script>

<style scoped>

</style>
