<template>
  <div class="login-form">
    <div class="login-form__row">
      Введите ваш логин и пароль
    </div>
    <div class="login-form__row">
      <div class="login-form__col login-form__label">
        Логин:
      </div>
      <div class="login-form__col login-form__input">
        <input
          v-model="username"
          type="text"
        >
      </div>
    </div>
    <div class="login-form__row">
      <div class="login-form__col login-form__label">
        Пароль:
      </div>
      <div class="login-form__col login-form__input">
        <input
          v-model="password"
          type="text"
        >
      </div>
    </div>
    <div class="login-form__row">
      <div class="login-form__col login-form__button-col">
        <ButtonComponent
          title="Log In"
          @click="auth"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import ButtonComponent from '../common/ButtonComponent.vue';

export default {
  name: 'LogInView',
  components: { ButtonComponent },
  data() {
    return {
      username: null,
      password: null,
    };
  },
  methods: {
    ...mapActions({
      logIn: 'user/logIn',
    }),
    async auth() {
      const params = {
        username: this.username,
        password: this.password,
      };
      await this.logIn({ vm: this, params });

      this.$router.back();
    },
  },
};
</script>

<style scoped>
.login-form {
  width: 300px;
}

.login-form__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 5px 10px;
}

.login-form__col {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}

.login-form__button-col {
  width: 100%;
  align-items: center;
}
</style>
