<template>
  <div
    :class="classes"
    @click="handleClick"
  >
    {{ title }}
  </div>
</template>

<script>
export default {
  name: 'ButtonComponent',
  props: {
    title: {
      type: [String, Number],
      required: true,
    },
    active: {
      type: Boolean,
      default: () => false,
    },
  },
  computed: {
    classes() {
      return [
        'button',
        this.active ? 'active' : null,
      ];
    },
  },
  methods: {
    handleClick() {
      // eslint-disable-next-line vue/require-explicit-emits
      this.$emit('click');
    },
  },
};
</script>

<style scoped>
.button {
  border-radius: 5px;
  border: 1px solid #0d5aa7;
  padding: 5px 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #0d5aa7;
  color: white;
}

.button.active {
  background-color: #0d5aa7;
  color: white;
}
</style>
