<template>
  <div class="category">
    <div class="category__row">
      <div
        :class="titleClasses"
        @click="handleClick"
      >
        {{ category.name }} ({{ category.newsCount }})
      </div>
    </div>
    <div
      v-for="(nestedCategory, index) in category.categories"
      :key="index"
      class="category__row"
    >
      <div class="category__col">
        <CategoryComponent
          :category="nestedCategory"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'CategoryComponent',
  props: {
    category: {
      type: Object,
      required: true,
    },
  },
  computed: {
    ...mapGetters({
      activityRegisters: 'news/getActivityRegisters',
    }),
    titleClasses() {
      return [
        'category__col',
        'title',
        this.activityRegisters[this.category.id] ? 'active' : null,
      ];
    },
  },
  methods: {
    ...mapActions({
      changeActiveCategory: 'news/changeActiveCategory',
    }),
    handleClick() {
      this.changeActiveCategory(this.category);
    },
  },
};
</script>

<style scoped>
.category {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.category__row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px 0;
}

.category__col {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.title {
  color: #0d5aa7;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.title:hover {
  border-bottom: 1px solid lightgray;
  color: gray;
}

.title.active {
  border-bottom: 1px solid lightgray;
  color: gray;
}
</style>
