<template>
  <div class="comment-form">
    <div class="comment-form__row">
      <div class="comment-form__col">
        Автор
      </div>
      <div class="comment-form__col">
        <input
          v-model="author"
          type="text"
        >
      </div>
    </div>
    <div class="comment-form__row">
      <div class="comment-form__col">
        Комментарий
      </div>
      <div class="comment-form__col">
        <textarea
          v-model="message"
        />
      </div>
    </div>
    <div class="comment-form__row">
      <div class="comment-form__col">
        <ButtonComponent
          title="Отправить"
          @click="handleClick"
        />
      </div>
    </div>
  </div>
</template>

<script>
import ButtonComponent from './ButtonComponent.vue';

export default {
  name: 'CommentFormComponent',
  components: {
    ButtonComponent,
  },
  data() {
    return {
      author: null,
      message: null,
    };
  },
  methods: {
    handleClick() {
      const comment = {
        author: this.author,
        message: this.message,
        dateCr: new Date(),
        isActive: true,
      };
      // eslint-disable-next-line vue/require-explicit-emits
      this.$emit('submit', comment);
    },
  },
};
</script>

<style scoped>
.comment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.comment-form__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  padding: 5px 0;
}

.comment-form__col {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
</style>
