<template>
  <div class="comment">
    <div class="comment__row">
      <div class="comment__col">
        Автор:
      </div>
      <div class="comment__col">
        {{ comment.author }}
      </div>
    </div>
    <div class="comment__row">
      <div class="comment__col">
        Дата:
      </div>
      <div class="comment__col">
        {{ date }}
      </div>
    </div>
    <div class="comment__row">
      <div class="comment__col">
        Комментарий:
      </div>
      <div class="comment__col">
        {{ comment.message }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CommentComponent',
  props: {
    comment: {
      type: Object,
      required: true,
    },
  },
  computed: {
    date() {
      return (new Date(this.comment.dateCr)).toLocaleDateString();
    },
  },
};
</script>

<style scoped>
.comment {
  border-bottom: 1px solid lightgray;
}

.comment__row {
  display: flex;
  flex-direction: row;
  width: 300px;
  padding: 5px 0;
}

.comment__col {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
</style>
