<template>
  <div class="confirm-dialog">
    <div class="confirm-dialog__wrapper">
      <div class="confirm-dialog__row">
        <div class="confirm-dialog__col w100">
          {{ message }}
        </div>
      </div>
      <div class="confirm-dialog__row buttons">
        <div class="confirm-dialog__col">
          <ButtonComponent
            title="Ок"
            @click="handleOk"
          />
        </div>
        <div class="confirm-dialog__col">
          <ButtonComponent
            title="Отмена"
            @click="handleCancel"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import ButtonComponent from './ButtonComponent.vue';

export default {
  name: 'ConfirmDialogComponent',
  components: {
    ButtonComponent,
  },
  props: {
    message: {
      type: String,
      required: true,
    },
  },
  methods: {
    handleOk() {
      // eslint-disable-next-line vue/require-explicit-emits
      this.$emit('ok');
    },
    handleCancel() {
      // eslint-disable-next-line vue/require-explicit-emits
      this.$emit('cancel');
    },
  },
};
</script>

<style scoped>

.confirm-dialog {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  padding: 100px;
  z-index: 10;
}

.confirm-dialog:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, .7);
}

.confirm-dialog__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  z-index: 11;
}

.confirm-dialog__row {
  display: flex;
  flex-direction: row;
  width: 400px;
  padding: 30px 0;
  background-color: #ffffff;
}

.confirm-dialog__col {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.buttons {
  justify-content: space-around;
}

.w100 {
  width: 100%;
}
</style>
