<template>
  <div class="row">
    <div class="col menu-col">
      <slot name="menu" />
    </div>
    <div class="col content-col">
      <div class="row">
        <div class="col title">
          <h1>
            {{ $route.meta.title }}
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col content">
          <slot name="content" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'LayoutComponent',
};
</script>

<style scoped>
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px 0;
}

.col {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.menu-col {
  width: 250px;
}

.content-col {
  flex-grow: 1;
}

.title {
  width: 100%;
}

.title>h1{
  text-align: center;
}

.content {
  width: 100%;
  padding: 10px;
}
</style>
