<template>
  <div class="news-preview">
    <div class="news-preview__row news-preview__row_title">
      <div class="news-preview__col news-preview__col_title">
        {{ news.title }}
      </div>
    </div>
    <div class="news-preview__row news-preview__row_description">
      <div class="news-preview__col news-preview__col_description">
        {{ news.description }}
      </div>
    </div>
    <div class="news-preview__row news-preview__row_footer">
      <div class="news-preview__col">
        <router-link
          :to="`/news/article/${news.id}`"
          class="news-preview__link"
        >
          Полная версия
        </router-link>
      </div>
      <div class="news-preview__col">
        {{ date }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NewsPreviewComponent',
  props: {
    news: {
      type: Object,
      required: true,
    },
  },
  computed: {
    date() {
      return (new Date(this.news.dateCr)).toLocaleDateString();
    },
  },
};
</script>

<style scoped>
.news-preview {
  display: block;
  width: 600px;
  padding: 10px;
  border-bottom: 1px solid lightskyblue;
}
.news-preview__row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px 0;
}

.news-preview__col {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.news-preview__row_footer {
  justify-content: space-between;
}

.news-preview__row_title {
  font-weight: bold;
  padding: 10px 0;
}

.news-preview__link {
  color: #0d5aa7;
  text-decoration: none;
}

.news-preview__link:hover {
  color: lightskyblue;
}
</style>
