<template>
  <div class="pagination">
    <div class="pagination__row">
      <div class="pagination__col">
        <ButtonComponent
          title="<<"
          @click="changePage(first)"
        />
      </div>
      <div class="pagination__col">
        <ButtonComponent
          title="|<"
          @click="changePage(previous)"
        />
      </div>
      <div
        v-for="(number, index) in numbers"
        :key="index"
        class="pagination__col"
      >
        <ButtonComponent
          :title="number"
          :active="current === number"
          @click="changePage(number)"
        />
      </div>
      <div class="pagination__col">
        <ButtonComponent
          title=">|"
          @click="changePage(next)"
        />
      </div>
      <div class="pagination__col">
        <ButtonComponent
          title=">>"
          @click="changePage(last)"
        />
      </div>
    </div>
  </div>
</template>

<script>
import ButtonComponent from './ButtonComponent.vue';

export default {
  name: 'PaginationComponent',
  components: {
    ButtonComponent,
  },
  props: {
    pagination: {
      type: Object,
      required: true,
    },
    pages: {
      type: Number,
      default: () => 5,
    },
  },
  data() {
    return {
      first: null,
      previous: null,
      current: null,
      next: null,
      last: null,
    };
  },
  computed: {
    numbers() {
      if (!this.previous || !this.last) {
        return [1];
      }
      const start = this.previous + 1 <= this.current ? this.previous : this.current;
      let end = this.current + this.pages - 1;
      end = end > this.last ? this.last : end;

      const numbers = Array(end - start + 1).fill().map((item, index) => start + index);

      return numbers.length > 0 ? numbers : [this.current];
    },
  },
  watch: {
    pagination() {
      this.initPagination();
    },
  },
  created() {
    this.initPagination();
  },
  methods: {
    initPagination() {
      this.first = this.pagination.first;
      this.previous = this.pagination.previous ?? 1;
      this.current = this.pagination.current ?? 1;
      this.next = this.pagination.next ?? this.pagination.last ?? this.current;
      this.last = this.pagination.last ?? this.current;
    },
    changePage(page) {
      // eslint-disable-next-line vue/require-explicit-emits
      this.$emit('change-page', page);
    },
  },
};
</script>

<style scoped>
.pagination__row {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.pagination__col {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}

</style>
