<template>
  <div class="rest-form">
    <ButtonComponent
      class="close-button"
      title="X"
      @click="$emit('close')"
    />
    <div class="rest-form__wrapper">
      <div class="rest-form__row">
        <div class="rest-form__col w100">
          <ul class="rest-form__errors">
            <li
              v-for="(error, index) in errors"
              :key="index"
            >
              {{ error }}
            </li>
          </ul>
        </div>
      </div>
      <div
        v-for="(filedConfig, fieldIndex) in fields"
        :key="fieldIndex"
        class="rest-form__row form-field"
      >
        <div class="rest-form__col">
          {{ filedConfig.fieldTitle }}
        </div>
        <div
          v-if="filedConfig.type === 'input'"
          class="rest-form__col"
        >
          <input
            v-model="currentItem[filedConfig.fieldName]"
            type="text"
            :disabled="filedConfig.disabled"
          >
        </div>
        <div
          v-else-if="filedConfig.type === 'textarea'"
          class="rest-form__col"
        >
          <textarea
            v-model="currentItem[filedConfig.fieldName]"
            :disabled="filedConfig.disabled"
          />
        </div>
        <div
          v-else-if="filedConfig.type === 'select'"
          class="rest-form__col"
        >
          <select
            v-model="currentItem[filedConfig.fieldName]"
            :disabled="filedConfig.disabled"
          >
            <option
              v-for="(listItem, index) in selectList[filedConfig.selectList.api]"
              :key="index"
              :value="listItem.value"
            >
              {{ listItem.title }}
            </option>
          </select>
        </div>
        <div
          v-else-if="filedConfig.type === 'checkbox'"
          class="rest-form__col"
        >
          <input
            v-model="currentItem[filedConfig.fieldName]"
            :disabled="filedConfig.disabled"
            type="checkbox"
          >
        </div>
      </div>
      <div class="rest-form__row">
        <div class="rest-form__col w100 center">
          <ButtonComponent
            title="Сохранить"
            @click="handleSave"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ButtonComponent from './ButtonComponent.vue';

export default {
  name: 'RESTFormComponent',
  components: {
    ButtonComponent,
  },
  props: {
    formConfig: {
      type: Array,
      required: true,
    },
    item: {
      type: Object,
      required: false,
      default: () => ({}),
    },
    isEditMode: {
      type: Boolean,
      default: () => false,
    },
  },
  data() {
    return {
      currentItem: {},
      selectList: {},
      errors: [],
    };
  },
  computed: {
    fields() {
      const excludedTypes = [
        'hidden',
        'timestamp',
      ];
      return this.formConfig.filter((field) => !excludedTypes.includes(field.type));
    },
  },
  watch: {
    item() {
      this.currentItem = { ...this.item };
    },
    async formConfig() {
      await this.updateSelectList();
    },
  },
  async created() {
    this.currentItem = { ...this.item };
    await this.updateSelectList();
  },
  methods: {
    async updateSelectList() {
      const selectFields = this.formConfig
        .filter((item) => item.type === 'select');

      const requests = selectFields.map((item) => this.$api.rest[item.selectList.api].list());

      const responses = await Promise.all(requests);

      this.selectList = selectFields.reduce((mapped, fieldConfig, index) => {
        const list = (responses[index]?.data['hydra:member'] ?? [])
          .filter((listItem) => listItem['@id'] !== this.currentItem['@id'])
          .map((item) => ({
            value: item['@id'],
            title: item[fieldConfig.selectList.itemTitle],
          }));

        if (fieldConfig.selectList.additionalItem) {
          list.unshift({
            value: fieldConfig.selectList.additionalItem.value,
            title: fieldConfig.selectList.additionalItem.title,
          });
        }

        mapped[fieldConfig.selectList.api] = list;
        return mapped;
      }, {});
    },
    handleSave() {
      const item = { ...this.currentItem };
      if (this.validate(item)) {
        // eslint-disable-next-line vue/require-explicit-emits
        this.$emit('save', item);
      }
    },
    validate(item) {
      const errors = this.formConfig
        .map((fieldConfig) => {
          if (fieldConfig.type === 'hidden') {
            return null;
          }

          if (fieldConfig.required && this.isEmptyField(item)) {
            return `Поле '${fieldConfig.fieldTitle}' не может быть пустым.`;
          }

          return null;
        })
        .filter((error) => !!error);

      this.errors = errors;
      return errors.length === 0;
    },
    isEmptyField(value) {
      if (!value && value !== 0) {
        return true;
      }

      if (Array.isArray(value)) {
        return value.length === 0;
      }

      if (typeof value === 'object') {
        return Object.keys(value).length === 0;
      }

      return value !== '';
    },
  },
};
</script>

<style scoped>
.rest-form {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  padding: 100px;
  z-index: 10;
}

.rest-form:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, .7);
}

.rest-form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex-grow: 1;
  z-index: 11;
  background-color: white;
}

.rest-form__row {
  display: flex;
  flex-direction: row;
  width: 400px;
  padding: 5px 0;
}

.rest-form__errors {
  font-size: 14px;
  color: indianred;
}

.rest-form__col {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.w100 {
  width: 100%;
}

.center {
  align-items: center;
}

.form-field {
  justify-content: space-between;
}

.close-button {
  position: absolute;
  top: 25px;
  right: 25px;
  color: #ffffff;
  z-index: 12;
}
</style>
