<template>
  <div class="rest-layout__row">
    <div class="rest-layout__col w100">
      <ConfirmDialogComponent
        v-if="confirmDialog.active"
        :message="confirmDialog.message"
        @ok="handleDeleteApply"
        @cancel="handleDeleteCancel"
      />
      <RESTFormComponent
        v-if="isFormActive"
        :form-config="$route.meta.formConfig"
        :is-edit-mode="isEditMode"
        :item="currentItem"
        @save="handleSave"
        @close="isFormActive = false"
      />
      <div class="rest-layout__row">
        <div class="rest-layout__col">
          <ButtonComponent
            v-if="$route.meta.layoutConfig.addable"
            title="Добавить"
            @click="isFormActive = true"
          />
        </div>
      </div>
      <div
        v-for="(item, index) in list"
        :key="index"
        class="rest-layout__row item"
      >
        <div class="rest-layout__col title">
          {{ getTitle(item) }}
        </div>
        <div class="rest-layout__col">
          <div class="rest-layout__row">
            <div class="rest-layout__col">
              <ButtonComponent
                v-if="$route.meta.layoutConfig.editable"
                title="Редактировать"
                @click="handleEdit(item)"
              />
            </div>
            <div class="rest-layout__col">
              <ButtonComponent
                v-if="$route.meta.layoutConfig.deletable"
                title="Удалить"
                @click="onDelete(item)"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="rest-layout__row">
        <div class="rest-layout__col">
          <PaginationComponent
            :pagination="pagination"
            @change-page="handleChangePage"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable vue/require-explicit-emits */
import ButtonComponent from './ButtonComponent.vue';
import RESTFormComponent from './RESTFormComponent.vue';
import ConfirmDialogComponent from './ConfirmDialogComponent.vue';
import PaginationComponent from './PaginationComponent.vue';

export default {
  name: 'RESTLayoutComponent',
  components: {
    PaginationComponent,
    ConfirmDialogComponent,
    RESTFormComponent,
    ButtonComponent,
  },
  props: {
    list: {
      type: Array,
      required: true,
    },
    pagination: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      isFormActive: false,
      isEditMode: false,
      currentItem: {},
      confirmDialog: {
        message: 'Вы уверены, что хотите удалить элемент',
        active: false,
      },
    };
  },
  methods: {
    handleSave(item) {
      if (this.isEditMode) {
        this.$emit('update', item);
      } else {
        this.$emit('save', item);
      }

      this.clearForm();
    },
    handleEdit(item) {
      this.currentItem = { ...item };
      this.isFormActive = true;
      this.isEditMode = true;
    },
    handleDeleteApply() {
      this.$emit('delete', this.currentItem);

      this.clearForm();
      this.clearConfirmDialog();
    },
    handleDeleteCancel() {
      this.clearForm();
      this.clearConfirmDialog();
    },
    handleChangePage(page) {
      this.$emit('change-page', page);
    },
    onDelete(item) {
      this.currentItem = { ...item };

      this.confirmDialog.active = true;
    },
    getTitle(item) {
      const parts = this.$route.meta.listDescription
        .map((config) => {
          const value = item[config.fieldName];
          return config.mapper ? config.mapper(value) : value;
        });
      return parts.join('');
    },
    clearForm() {
      this.currentItem = {};
      this.isFormActive = false;
      this.isEditMode = false;
    },
    clearConfirmDialog() {
      this.confirmDialog.active = false;
    },
  },
};
</script>

<style scoped>
.rest-layout__row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px 0;
}

.rest-layout__col {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.w100 {
  width: 100%;
}

.title {
  justify-content: center;
  flex-grow: 1;
}

.item {
  border-bottom: 1px solid lightgray;
}
</style>
