<template>
  <div class="news-list">
    <div class="news-list__row">
      <div class="news-list__col">
        <div
          :class="descButtonClasses"
          @click="changeSortOrder('desc')"
        >
          Сначала новые
        </div>
      </div>
      <div class="news-list__col">
        <div
          :class="ascButtonClasses"
          @click="changeSortOrder('asc')"
        >
          Сначала старые
        </div>
      </div>
    </div>
    <div class="news-list__row">
      <div class="news-list__col">
        <NewsPreviewComponent
          v-for="(article, index) in news"
          :key="index"
          :news="article"
        />
      </div>
    </div>
    <div class="news-list__row">
      <div class="news-list__col">
        <PaginationComponent
          :pagination="pagination"
          @change-page="handleChangePage"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import NewsPreviewComponent from '../../common/NewsPreviewComponent.vue';
import PaginationComponent from '../../common/PaginationComponent.vue';

export default {
  name: 'NewsListView',
  components: {
    PaginationComponent,
    NewsPreviewComponent,
  },
  computed: {
    ...mapGetters({
      activeCategory: 'news/getActiveCategory',
      news: 'news/getNews',
      pagination: 'news/getNewsPagination',
      tree: 'news/getTree',
      descSortOrder: 'news/getDescSortOrder',
    }),
    descButtonClasses() {
      return [
        'news-list__link',
        this.descSortOrder ? 'active' : null,
      ];
    },
    ascButtonClasses() {
      return [
        'news-list__link',
        !this.descSortOrder ? 'active' : null,
      ];
    },
  },
  watch: {
    activeCategory() {
      this.refreshNewsList(this.$api.custom);

      const location = `/news/${this.activeCategory.id}`;
      if (this.$route.path !== location) {
        this.$router.push(location);
      }
    },
    tree() {
      this.initActiveCategory();
      this.initPage();
    },
  },
  created() {
    this.initActiveCategory();
    this.initPage();
  },
  methods: {
    ...mapActions({
      refreshNewsList: 'news/refreshNewsList',
      changeActiveCategoryById: 'news/changeActiveCategoryById',
      changePage: 'news/changePage',
      changeDescSortOrder: 'news/changeDescSortOrder',
    }),
    initActiveCategory() {
      if (this.$route.params?.id) {
        this.changeActiveCategoryById(this.$route.params.id);
      }
    },
    initPage() {
      if (this.$route.params?.page) {
        this.changePage(this.$route.params.page);
      }
    },
    handleChangePage(page) {
      this.changePage(page);
      this.refreshNewsList(this.$api.custom);

      const location = `/news/${this.activeCategory.id}/${page}`;
      if (this.$route.path !== location) {
        this.$router.push(location);
      }
    },
    changeSortOrder(order) {
      this.changeDescSortOrder(order === 'desc');
      this.changePage(1);
      this.refreshNewsList(this.$api.custom);
    },
  },
};
</script>

<style scoped>
.news-list__row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px 0;
}

.news-list__col {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.news-list__link {
  color: #0d5aa7;
  cursor: pointer;
}

.news-list__link:hover {
  color: lightskyblue;
}

.news-list__link.active {
  color: lightskyblue;
}
</style>
