<template>
  <div class="article">
    <div
      v-if="article"
      class="article__row"
    >
      <div class="article__col title">
        {{ article.title }}
      </div>
    </div>
    <div
      v-if="article"
      class="article__row date"
    >
      <div class="article__col">
        {{ date }}
      </div>
    </div>
    <div
      v-if="article"
      class="article__row text"
    >
      <div class="article__col">
        {{ article.text }}
      </div>
    </div>
    <div
      v-if="article"
      class="article__row"
    >
      <div class="article__col">
        <CommentFormComponent
          @submit="handleCommentSubmit"
        />
      </div>
    </div>
    <div
      v-if="article"
      class="article__row"
    >
      <div class="article__col">
        <CommentComponent
          v-for="(comment, index) in sortedComments"
          :key="index"
          :comment="comment"
        />
      </div>
    </div>
  </div>
</template>

<script>
import CommentFormComponent from '../../common/CommentFormComponent.vue';
import CommentComponent from '../../common/CommentComponent.vue';

export default {
  name: 'NewsArticleView',
  components: {
    CommentComponent,
    CommentFormComponent,
  },
  data() {
    return {
      article: null,
      comments: [],
    };
  },
  computed: {
    date() {
      return (new Date(this.article.dateCr)).toLocaleDateString();
    },
    sortedComments() {
      const comments = [...this.comments];

      return comments.sort((a, b) => new Date(b.dateCr) - new Date(a.dateCr));
    },
  },
  async created() {
    const response = await this.$api.rest.news.get(this.$route.params.id);
    this.article = response.data;

    await this.refreshComments();
  },
  methods: {
    async refreshComments() {
      const response = await this.$api.custom.getArticleComments({ id: this.$route.params.id });

      this.comments = response.data?.comments ?? [];
    },
    async handleCommentSubmit(comment) {
      comment.news = `/api/news/${this.$route.params.id}`;

      await this.$api.rest.comments.create(comment);

      await this.refreshComments();
    },
  },
};
</script>

<style scoped>
  .article {
    width: 100%;
  }

  .article__row {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px 0;
  }

  .article__col {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }

  .title {
    font-weight: bold;
    font-size: 20px;
  }

  .date {
    justify-content: flex-end;
    text-decoration: underline;
  }

  .text {
    border-bottom: 1px solid dimgray;
  }
</style>
